/* Adjust header styles */

/* Add margin to the h1 element */
.App-header h1 {
  margin-top: -25px; /* Adjust the top margin to move it up */
}

.profile-picture {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the margin as needed */
  border-radius: 50%; /* Make it round */
}


/* Apply blur to the image */
.chat-photo.blur {
  filter: blur(5px); /* You can adjust the blur amount as needed */
  transition: filter 0.3s ease-in-out;
}

/* Clear the blur when the user clicks on the image */
.chat-photo.clear {
  filter: blur(0);
}
